/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", monospace;
  --side-padding: 10px;
  --background-color: rgba(255, 241, 247, 1);
  --background-image: url(../images/cover-image-light.png);
  --text-color: rgba(53, 52, 48, 1);
  --main-title-text-color: rgba(255, 194, 230, 1);
  --title-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-title-color: rgba(53, 52, 48, 1);
  --decorated-color: rgba(53, 52, 48, 1);
}

@media (min-width: 768px) {
  :root {
    --side-padding: 20px;
  }
}
